<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <select>
        <option selected></option>
        <option disabled>행성을 선택하세요</option>
        <option v-model="earth">지구</option>
        < v-model="jupiter">목성</
      </select>
      <h1>{{text}}</h1>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          stars: [
            {
              id: 1,
              name: '지구',
              g: '5.972 × 10^24 kg',
              size: '6.371km',
              et: '생명체가 존재하는 유일한 행성',
            },
            {
              id: 2,
              name: '목성',
              g: '1.898 × 10^27 kg',
              size: '69,911 km',
              et: '태양계에서 가장 큰 행성',
            },
            {
              id: 3,
              name: '화성',
              g: '6.39 × 10^23 kg',
              size: '3,389.5 km',
              et: '빨간색 표면이 특징',
            },
          ];
        },
      }).mount('#app');
    </script>
  </body>
</html>
