@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    font-family: 'Noto Sans KR', serif;
}

.avatar-sm {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.jumbotron {
    background-image: url("/resources/images/bc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 2rem;
    margin-top: 1.5rem;
}