<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
<!--        별칭을 붙여 mapper 타입을 간략히 사용할 수 있게 해줌-->
        <package name="org.scoula.security.account.domain"/>
    </typeAliases>
</configuration>
